.pageTitle.skills {
  background-color: hsl(249, 12%, 53%);
}

#skillsDiv {
  position: absolute;
  transform: translateX(-50%);
  top: 17rem;
  left: 50%;
  width: 63%;
  height: fit-content;
}

.skillContainer {
  position: relative;
  height: 10rem;
  width: 100%;
  margin-bottom: 2rem;
}

/* -- Label -- */

.skillLabel {
  position: absolute;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 10rem;
  width: 10rem;
  border-radius: 0.15rem;
  border: solid rgb(107, 107, 107) 0.1rem;
  user-select: none;
  font-family: monospace;
  transition: all 0.2s ease-in-out;
  background-color: hsl(38, 14%, 93%);
}

.skillLabel.closed:hover {
  cursor: pointer;
  /*background-color: hsl(30, 11%, 78%);*/
}

.skillLabel.closed {
  top: 0rem;
  box-shadow: 0 0.15rem 0 rgba(32, 31, 42, 0.857);
}

.skillLabel.open:hover {
  cursor: pointer;
  /*background-color: hsl(30, 11%, 85%);*/
}

.skillLabel.open {
  top: -0.15rem;
  box-shadow: 0 0.3rem 0 rgba(32, 31, 42, 0.857);
  background-color: hsl(38, 14%, 100%);
}

.skillIcon {
  position: absolute;
  width: 100%;
  bottom: 30%;
  transform: translateY(50%);
}

.skillIcon-img {
  height: 3rem;
  transition: all 0.2s ease-in-out;
}

.skillLabel.closed:hover .skillIcon-img {
  filter: grayscale(0.3) invert(0) brightness(1);
}

.skillLabel.closed .skillIcon-img {
  filter: grayscale(0.7) invert(0) brightness(1);
}

.skillLabel.open:hover .skillIcon-img {
  filter: grayscale(0) invert(0) brightness(1);
}

.skillLabel.open .skillIcon-img {
  filter: grayscale(0) invert(0) brightness(1);
}

.skill-title {
  position: absolute;
  top: -0.5rem;
  font-size: 1.2rem;
  padding: 0rem 0.6rem 0rem 0.6rem;
}

.skillLabel.closed .skill-title {
  color: #3d3d3d;
}

.skillLabel.open .skill-title {
    color: rgb(0, 0, 0);
}

.skillLabel.closed:hover .skill-title {
  color: rgb(0, 0, 0);
}

.skillLabel.open:hover .skill-title {
    color: rgb(0, 0, 0);
}


/* -- Slideout -- */

.skillSlideout {
  position: absolute;
  transition: all 0.2s ease-in-out;
  left: 9.7rem;
  height: 9rem;
  background-color: rgb(169, 169, 169);
  background-color: hsl(249, 5%, 63%);
  border-radius: 0.3rem;
  border: solid rgb(107, 107, 107) 0.1rem;
  transition: all 0.2s ease-in-out;
}

.skillSlideout.closed {
  top: 0.5rem;
  right: 100%;
  min-width: 0.8rem;
  box-shadow: 0 0rem 0 rgba(32, 31, 42, 0.857);
}

.skillSlideout.open {
  top: 0.4rem;
  right: 1rem;
  box-shadow: 0 0.1rem 0 rgba(32, 31, 42, 0.857);
}

.skillProjects {
  position: absolute;
  left: 0.7rem;
  right: 25rem;
  bottom: 0.5rem;
  top: 0.5rem;
  border: solid rgb(107, 107, 107) 0.1rem;
  border-radius: 0.15rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: -1rem;
  background-color: hsl(38, 14%, 88%);
  overflow: auto;
  scroll-behavior: smooth;
  scroll-margin: 0.5rem;
  transition: all 0.2s ease-in-out;
  line-height: 1.1rem;
}

.skillSlideout.closed .skillProjects {
  visibility: hidden;
  opacity: 0%;
  left: -10rem;
}

.skillSlideout.open .skillProjects {
  visibility: visible;
  opacity: 100%;
  left: 0.7rem;
}

.skillContent {
  position: absolute;
  right: 0.6rem !important;
  bottom: 0.5rem;
  top: 0.5rem;
  border: solid rgb(107, 107, 107) 0.1rem;
  border-radius: 0.15rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  padding-top: -1rem;
  background-color: hsl(38, 14%, 83%);
  overflow: auto;
  scroll-behavior: smooth;
  scroll-margin: 0.5rem;
  transition: all 0.2s ease-in-out;
  line-height: 1.1rem;
  list-style: square;
  text-align: left;
  font-size: 0.8rem;
}

.skillSlideout.closed .skillContent {
  visibility: hidden;
  opacity: 0%;
  width: 0rem;
}

.skillSlideout.open .skillContent {
  visibility: visible;
  opacity: 100%;
  width: 22.9rem;
  right: 1rem;
}

h5 {
  line-height: 0rem;
  width: 100%;
  text-align: center;
}

.skill-project {
  margin-bottom: 0.5rem;
  border-radius: 0.1rem;
  padding: 0.1rem 0.2rem 0.1rem 0.2rem;
  text-align: center;
  border: none;
  background-color: hsl(120, 11%, 51%);
  cursor: pointer;
  width: 100%;
  font-family: monospace;
  transition: all 0.1s ease-in-out;
  color: rgb(215, 215, 215);
  box-shadow: 0 0.05rem 0 rgba(32, 31, 42, 0.857);
}

.skill-project:hover {
  background-color: hsl(120, 31%, 51%);
  color: white;
  margin-bottom: 0.5rem;
  bottom: 0.1rem;
  box-shadow: 0 0.1rem 0 rgba(32, 31, 42, 0.857);
}

/* unvisited link */
a:link {
  color: rgb(215, 215, 215);
  text-decoration: none;
}

/* visited link */
a:visited {
  color: rgb(255, 255, 255);
}

/* selected link */
a:active {
  color: rgb(237, 237, 237);
}

/* -- Shadow -- */

.skillShadowContents {
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
  transition: all 0.2s ease-in-out;
  padding-left: 4rem;
  padding-right: 4rem;
  left: 9.7rem;
  right: 1rem;
  top: 0.5rem;
  height: 9rem;
  background-color: hsl(50, 15%, 85%);
  border-radius: 0.3rem;
  border: solid hsl(50, 15%, 85%) 0.1rem;
  transition: all 0.2s ease-in-out;
  color: rgb(87, 86, 102);
  font-size: 1.3rem;
  background-color: hsl(53, 7%, 74%);
  border: solid hsl(53, 7%, 74%) 0.1rem;
}

.screwIcon {
  position: absolute;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  right: 1.2rem;
  height: 100%;
  top: 0rem;
}

.skillScrew {
  position: absolute;
  width: 1.4rem;
  height: 1.4rem;
  transition: all 0.2s ease-in-out;
  transform: translateX(-50%);
}

.skillScrew.top {
  top: 4.5rem;
}

.skillScrew.bottom {
  bottom: 3rem;
}

.skillLabel.closed .skillScrew {
  transform: rotate(45deg);
  filter: grayscale(1) invert(0.5) brightness(0.8);
}

.skillLabel.open .skillScrew {
  transform: rotate(360deg);
  filter: grayscale(1) invert(0.5) brightness(0.8);
}

.skillLabel.closed:hover .skillScrew {
  transform: rotate(135deg);
  filter: grayscale(1) invert(0.5) brightness(0);
}

.skillLabel.open:hover .skillScrew {
  transform: rotate(360deg);
  filter: grayscale(1) invert(0.5) brightness(0);
}
